<div class="col-md-12 mt-3">
  <h1>{{ pageTitle }}</h1>
  <hr>

  <div class="alert alert-success col-md-5 mt-3" *ngIf="status == 'success'">
    Tu perfil se ha actualizado correctamente
  </div>

  <div class="alert alert-danger col-md-5 mt-3" *ngIf="status == 'error'">
    No se ha podido actualizar el perfil...
  </div>

  <form class="col-md-5 ml-0 pl-0" #userEditForm="ngForm" (ngSubmit)="onSubmit(userEditForm)">
    <div class="form-group">
      <label for="name">Nombre</label>
      <input type="text" name="name" #name="ngModel" [(ngModel)]="user.name" required pattern="[a-zà-ÿ A-ZÀ-ÿ]+" class="form-control">

      <small *ngIf="!name.valid && name.touched" class="invalid-feedback d-block">
        El nombre no es válido
      </small>
    </div>

    <div class="form-group">
      <label for="surname">Apellidos</label>
      <input type="text" name="surname" #surname="ngModel" [(ngModel)]="user.surname" required pattern="[a-zà-ÿ A-ZÀ-ÿ]+" class="form-control">

      <small *ngIf="!surname.valid && surname.touched" class="invalid-feedback d-block">
        Los apellidos no son válidos
      </small>
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" name="email" #email="ngModel" [(ngModel)]="user.email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" class="form-control">

      <small *ngIf="!email.valid && email.touched" class="invalid-feedback d-block">
        El email no es válido
      </small>
    </div>

    <label for="avatar">Avatar</label>
    <div class="form-group">
      <angular-file-uploader
      [config]="afuConfig"
      [resetUpload]="true"
      (ApiResponse)="avatarUpload($event)">
</angular-file-uploader>

    </div>


    <input type="submit" value="Actualizar" class="btn btn-success" [disabled]="userEditForm.invalid">
  </form>
</div>
