<div class="col-lg-12 mt-3" *ngIf="!topic">
  <img src="assets/img/Spinner-2.gif" alt="Cargando...">
</div>

<div class="col-lg-12 topic-box mt-3" *ngIf="topic">
  <div class="topic-data col-lg-9 float-left">
    <h1>{{ topic.title }}</h1>
    <span class="badge badge-warning mr-2" *ngIf="topic.lang">
      {{ topic.lang }}
    </span>
    <span class="badge badge-primary" *ngIf="topic.user">
      {{ topic.user.name + ' ' + topic.user.surname }}
    </span>
    <span class="badge badge-light ml-2">
      {{ topic.date | amLocale: 'es' | amTimeAgo }}
    </span>

    <hr>
    <p id="topic-content" class="mt-2">
      {{ topic.content }}
    </p>

    <p id="topic-code" *ngIf="topic.code && topic.lang">
      <textarea highlight-js [options]="{}" [lang]="topic.lang">
        {{topic.code}}
        </textarea>
    </p>
  </div>

  <div class="clearfix"></div>

  <div class="comment-box mt-2 col-lg-9">
    <h3>Comentarios</h3>
    <hr>

    <div class="alert alert-success mt-3" *ngIf="status == 'success' && !is_delete">
      El comentario se ha añadido correctamente
    </div>

    <div class="alert alert-danger mt-3" *ngIf="status == 'error' && !is_delete">
      No se ha podido agregar tu comentario...
    </div>

    <div class="alert alert-success mt-3" *ngIf="status == 'success' && is_delete">
      El comentario se ha borrado correctamente
    </div>

    <div class="alert alert-danger mt-3" *ngIf="status == 'error' && is_delete">
      No se ha podido borrar tu comentario...
    </div>

    <form #formComment="ngForm" (ngSubmit)="onSubmit(formComment)" *ngIf="identity">
      <div class="form-group">
        <label for="content">Escribe tu comentario</label>
        <textarea name="content" #content="ngModel" [(ngModel)]="comment.content" required class="form-control">
        </textarea>

        <small *ngIf="!content.valid && content.touched" class="invalid-feedback d-block">
          El comentario no es válido
        </small>
      </div>
      <input type="submit" value="Comentar" class="btn btn-success" [disabled]="formComment.invalid">
    </form>

    <hr>

    <ul class="list-group list-comments mb-5">
      <li class="list-group-item comment-item" *ngFor="let comment of topic.comments">
        <div class="avatar_mask float-left mr-3">
          <img src="{{ url + 'avatar/' + comment.user.image }}" class="avatar_nav">
        </div>
        <span class="badge badge-primary" *ngIf="topic.user">
          {{ comment.user.name + ' ' + comment.user.surname }}
        </span>
        <span class="badge badge-light ml-2">
          {{ comment.date | amLocale: 'es' | amTimeAgo }}
        </span>
        <span class="d-block">
          {{ comment.content }}
        </span>


        <button (click)="deleteComment(comment._id)" class="btn btn-sm btn-danger float-right" *ngIf="identity && identity._id == comment.user._id">Borrar</button>

      </li>
    </ul>
  </div>

</div>

